{% extends 'base.html' %}
{% load static %}

{% block title %}Inventory{% endblock %}

{% block content %}
<main class="app-main">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger">{{ message }}</div>
    {% elif message.tags == 'success' %}
    <div class="alert alert-success">{{ message }}</div>
    {% else %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Inventory</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Inventory</li>
                    </ol>
                </div>
            </div>
            {% if user.role_id.id == 1 or user.role_id.id == 2 %}
            <a type="button" href="{% url 'create_inventory' %}" class="btn btn-secondary">add new Inventory</a>
            {% endif %}
        </div>
    </div>
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Inventory</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>name</th>
                                            <th>description</th>
                                            <th>price</th>
                                            <th>stock</th>
                                            <th>Buy</th>
                                            {% if user.role_id.id == 1 or user.role_id.id == 2 %}
                                            <th>edit</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in products %}
                                        <tr>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.description }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.stock }}</td>
                                            <td>
                                                <a href="{% url 'buy' item.id %}" class="btn">
                                                    <i class="fas fa-solid fa-check"></i>
                                                </a>
                                            </td>
                                            {% if user.role_id.id == 1 or user.role_id.id == 2 %}
                                            <td colspan="2">
                                                <a href="{% url 'update_inventory' item.id %}" class="btn">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="{% url 'delete_inventory' item.id %}" class="btn">
                                                    <i class="fas fa-solid fa-trash" style="color: #ff0000;"></i>
                                                </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}