{% extends 'base.html' %}
{% load static %}

{% block title %}Management User{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">{{ message }}</div>
{% elif message.tags == 'success' %}
<div class="alert alert-success">{{ message }}</div>
{% else %}
<div class="alert alert-info">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}
<main class="app-main">
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Management User</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Management User</li>
                    </ol>
                </div>
            </div>
            <a type="button" href="{% url 'create' %}" class="btn btn-secondary">Add User</a>
        </div>
    </div>
    <div class="app-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Management</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>username</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in users %}
                                        <tr>
                                            <td>{{ item.username }}</td>
                                            <td>{{ item.email }}</td>
                                            <td>{{ item.role_id.name }}</td>
                                            <td colspan="2">
                                                <a href="{% url 'update_user' item.id %}" class="btn">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="{% url 'delete_user' item.id %}" class="btn">
                                                    <i class="fas fa-solid fa-trash" style="color: #ff0000;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}