{% extends 'registration/baseregistration.html' %}
{% load static %}

{% block title %}Forgot-Password{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">{{ message }}</div>
{% elif message.tags == 'success' %}
<div class="alert alert-success">{{ message }}</div>
{% else %}
<div class="alert alert-info">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'login' %}"><b>Library</b><br>Inventory</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                        <div class="input-group-text"><i class="far fa-envelope"></i></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                
                <p class="mt-3 mb-1">
                    <a href="{% url 'login' %}">Login</a>
                </p>
                <p class="mb-0">
                    <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>
{% endblock %}